<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bit.web.mapper.CategoryMapper">

<insert id="insertCategory"  parameterType="import com.bit.web.domain.CategoryDTO">
        insert into CATEGORIES (CATEGORY_ID, CATEGORY_NAME, DESCRIPTION)
        values (#{id},#{categoryId},#{categoryName},#{description}) 
     </insert> 
     <!-- #쪽은 자바를 따름 -->
   <select id="selectCategories" resultType="import com.bit.web.domain.CategoryDTO">
    select * from Blog CATEGORIES
  </select>
  <select id="selectCategoriesByOption" resultType="import com.bit.web.domain.CategoryDTO"
                                        parameterType="import com.bit.web.domain.CategoryDTO">
    select * from Blog CATEGORIES where CATEGORY_NAME = #{categoryName}
  </select>
  <select id="selectCategoryBycategoryId" resultType="import com.bit.web.domain.CategoryDTO"
                                        parameterType="string">
    select * from Blog CATEGORIES where CATEGORY_ID = #{value}
  </select>
<update  id="updateCategory"  parameterType="import com.bit.web.domain.CategoryDTO">
            update Author set
            CATEGORY_NAME = #{categoryName},
            DESCRIPTION = #{description},
            where CATEGORY_ID = #{categoryId}
        </update>
        

<delete  id="deleteCategory"  parameterType="import com.bit.web.domain.CategoryDTO">  
    delete from CATEGORIES where CATEGORY_ID = #{categoryId}
</delete>
  
</mapper>
