<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bit.web.mapper.ProductMapper">

   


<insert id="addProduct"  parameterType="import com.bit.web.domain.ProductDTO">
        insert into PRODUCTS (PRODUCT_ID, PRODUCT_NAME, SUPPLIER_ID, CATEGORY_ID, UNIT, PRICE)
        values (#{productId},#{productName},#{supplierId},#{categoryId},#{unit},#{price}) 
     </insert> 
     <!-- #쪽은 자바를 따름 -->
   <select id="selectProduct" resultType="import com.bit.web.domain.ProductDTO">
    select * from Blog PRODUCTS
  </select>
  <select id="selectProductByOption" resultType="import com.bit.web.domain.ProductDTO"
                                        parameterType="import com.bit.web.domain.ProductDTO">
    select * from Blog PRODUCTS where PRODUCT_NAME = #{productName}
  </select>
  <select id="selectProductByProductId" resultType="import com.bit.web.domain.ProductDTO"
                                        parameterType="string">
    select * from Blog PRODUCTS where PRODUCT_ID = #{value}
  </select>
<update  id="updateProduct"  parameterType="import com.bit.web.domain.ProductDTO">
            update Author set
            PRODUCT_NAME = #{productName},
            SUPPLIER_ID = #{supplierId},
            CATEGORY_ID = #{categoryId},
            UNIT = #{unit},
            PRICE = #{price},
            where PRODUCT_ID = #{productId}
        </update>

} 
<delete  id="deleteProduct"  parameterType="import com.bit.web.domain.ProductDTO">  
    delete from PRODUCTS where PRODUCT_ID = #{productId}
</delete>
  
</mapper>
